@charset "UTF-8";
/* ---------- Font ---------- */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
/* Reset CSS navigateurs */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* LOADER */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  animation: loader-opacity 4s forwards;
  animation-iteration-count: 1;
  background-color: rgba(246, 246, 246, 0.75);
  opacity: 1;
  margin: auto;
  padding: 0;
}

@keyframes loader-opacity {
  0% {
    opacity: 1;
    display: flex;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.loader_text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: -webkit-linear-gradient(left, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 1;
}

.loader_mobile {
  border: 1px solid #9356DC;
  padding: 2px;
  width: 80%;
}
.loader_mobile__bar {
  background: linear-gradient(0.25turn, #FF79DA, #9356DC);
  height: 20px;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0);
  animation: loader-anim 3s cubic-bezier(0.32, 0, 0.07, 1) forwards;
}

@keyframes loader-anim {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/* Header */
@media screen and (min-width: 1200px) {
  .page_menu {
    position: relative;
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 99;
  position: fixed;
  box-shadow: 0px 5px 10px #c5c5c5;
  width: 100%;
  background-color: white;
  height: 7vh;
}
@media screen and (min-width: 1200px) {
  header {
    position: static;
  }
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 32px;
  padding: 20px 0 10px 0;
}
header a {
  color: black;
}
header .fa-arrow-left {
  position: absolute;
  left: 24px;
  top: 55%;
}

main {
  padding-top: 62px;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  main {
    padding-top: 0;
  }
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

.contenair {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  width: 100%;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer_desktop {
    position: fixed;
    bottom: 0;
  }
}

.footer {
  background-color: #353535;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footer_display {
  padding: 20px 0 25px 0;
  width: 90%;
}
.footer_title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  width: 90%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer_title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 150%;
  }
}
@media screen and (min-width: 1200px) {
  .footer ul {
    display: flex;
    justify-content: space-around;
  }
}
.footer li {
  font-size: 16px;
  margin-bottom: 13.6px;
}
.footer i {
  width: 16px;
  font-size: 82%;
}
.footer .fa-handshake-angle {
  transform: scale(0.7, 1);
}
.footer a {
  color: white;
}

.localisation {
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
  height: auto;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .localisation {
    margin-top: 0;
  }
}
.localisation h3 {
  padding: 16px;
}

.intro {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  text-align: center;
}
.intro p {
  padding-bottom: 24px;
}
.intro a {
  margin-bottom: 24px;
}

#fonctionnement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 16px;
}
@media screen and (min-width: 750px) and (max-width: 1199px) {
  #fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: auto;
  }
}

.liste {
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .liste {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 750px) and (max-width: 1199px) {
  .liste {
    width: auto;
  }
}

.accueil_h2 {
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .accueil_h2 {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 750px) and (max-width: 1199px) {
  .accueil_h2 {
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .h2_bottom {
    border-bottom: 2px solid #99E2D0;
    padding-bottom: 5px;
  }
}

.element-liste {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 95%;
  height: auto;
  padding: 32px 0 24px 0;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 24px;
  position: relative;
  left: 15px;
  box-shadow: 0px 5px 10px #c5c5c5;
  transition: 0.2s;
}
.element-liste:hover {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.element-liste:active {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
@media screen and (min-width: 1200px) {
  .element-liste {
    width: 25%;
    min-width: 300px;
  }
}
@media screen and (min-width: 750px) and (max-width: 1199px) {
  .element-liste {
    min-width: 300px;
  }
}
.element-liste__numero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  border-radius: 100%;
  position: absolute;
  left: -15px;
}
.element-liste__icon {
  padding: 0 25px 0 40px;
  color: #7e7e7e;
  font-size: 22px;
}
.element-liste__txt {
  font-weight: bold;
  font-size: 16px;
}
.element-liste:hover {
  background-color: #f2eafb;
  cursor: pointer;
}
.element-liste:hover .element-liste__icon {
  color: #9356DC;
}
.element-liste:active {
  background-color: #f2eafb;
  cursor: pointer;
}
.element-liste:active .element-liste__icon {
  color: #9356DC;
}

#restaurants {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 32px;
}
@media screen and (min-width: 1200px) {
  #restaurants {
    margin-bottom: 100px;
  }
}

.restaurant_display_cards {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  justify-content: space-between;
  height: 1050px;
}
@media screen and (min-width: 1200px) {
  .restaurant_display_cards {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 750px) and (max-width: 1199px) {
  .restaurant_display_cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1199px) {
  .display_top {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.restaurant_card {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 5px 10px #c5c5c5;
  transition: 0.2s;
}
.restaurant_card:hover {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.restaurant_card:active {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
@media screen and (min-width: 1200px) {
  .restaurant_card {
    width: 22%;
    justify-content: space-around;
    margin: 20px 0 30px 0;
  }
}
@media screen and (min-width: 750px) and (max-width: 1199px) {
  .restaurant_card {
    width: 40%;
    justify-content: space-around;
    margin: 20px 0 30px 0;
  }
}
.restaurant_card_top {
  width: 100%;
  height: 175px;
}
.restaurant_card_top img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  object-position: 50% 62%;
}
.restaurant_card_top .new {
  width: 80px;
  height: 30px;
  font-size: 16px;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  position: absolute;
  right: 12px;
  top: 12px;
}
.restaurant_card_bottom {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.page_menu {
  box-shadow: none;
  border-bottom: 2px solid #f6f6f6;
}

.contenair_img_menu {
  height: auto;
}

.img_bckground_menu {
  width: 100%;
  height: 275px;
  z-index: -1;
  position: fixed;
  object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .img_bckground_menu {
    object-fit: fill;
    height: 100vh;
    width: 100vw;
  }
}

.menu {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
  top: 220px;
  margin-bottom: 220px;
}
@media screen and (min-width: 1200px) {
  .menu {
    background-color: rgba(246, 246, 246, 0.6);
    width: 90%;
    margin: auto;
    position: relative;
    top: 80px;
    border-radius: 35px;
    z-index: 1;
  }
}

.display_menu_destop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .display_menu_destop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 90%;
  }
}

.restaurant-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 90%;
  padding-right: 20px;
}
.restaurant-title__name {
  font-family: "Shrikhand";
  font-weight: lighter;
  padding-left: 0;
}
@media screen and (min-width: 1200px) {
  .restaurant-title__name {
    margin-left: 4%;
  }
}

.categorie-repas {
  width: 90%;
  padding-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .categorie-repas {
    width: 34%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
.categorie-repas h3 {
  margin-bottom: 20px;
}
.categorie-repas h3 span {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 3px;
}
@media screen and (min-width: 1200px) {
  .categorie-repas h3 {
    margin: 10px auto 25px 10%;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .border_right {
    border-right: 4px dashed #99E2D0;
  }
}

.element-repas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 5px 10px #c5c5c5;
  transition: 0.2s;
  background-color: white;
  height: 70px;
  margin-bottom: 16px;
  border-radius: 15px;
  overflow: hidden;
}
.element-repas:hover {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.element-repas:active {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
@media screen and (min-width: 1200px) {
  .element-repas {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 5px;
  }
}
.element-repas__text {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 12px;
  flex: 1;
}
.element-repas__title {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.element-repas__small-title {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.element-repas__prix {
  margin-left: auto;
  padding: 33px 20px 0 0;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: auto;
  min-width: 190px;
  height: auto;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 16px 24px 16px 24px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #c5c5c5;
  transition: 0.2s;
}
.button:hover {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.button:active {
  box-shadow: 4px 5.3333333333px 8px rgba(128, 128, 128, 0.5);
}
.button:hover {
  filter: brightness(1.2);
}
.button:active {
  filter: brightness(1.2);
}

/* animation apparition des cartes */
@keyframes glissement_vertical {
  from {
    opacity: 0;
    transform: translate(0, 30%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
.categorie-repas:nth-child(1) .element-repas:nth-child(1) {
  animation-delay: 0.3s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(1) .element-repas:nth-child(2) {
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(1) .element-repas:nth-child(3) {
  animation-delay: 0.7s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(1) .element-repas:nth-child(4) {
  animation-delay: 0.9s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(1) .element-repas:nth-child(5) {
  animation-delay: 1.1s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.categorie-repas:nth-child(2) .element-repas:nth-child(1) {
  animation-delay: 0.4s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(2) .element-repas:nth-child(2) {
  animation-delay: 0.6s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(2) .element-repas:nth-child(3) {
  animation-delay: 0.8s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(2) .element-repas:nth-child(4) {
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(2) .element-repas:nth-child(5) {
  animation-delay: 1.2s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.categorie-repas:nth-child(3) .element-repas:nth-child(1) {
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(3) .element-repas:nth-child(2) {
  animation-delay: 0.7s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(3) .element-repas:nth-child(3) {
  animation-delay: 0.9s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(3) .element-repas:nth-child(4) {
  animation-delay: 1.1s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(3) .element-repas:nth-child(5) {
  animation-delay: 1.3s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.categorie-repas:nth-child(4) .element-repas:nth-child(1) {
  animation-delay: 0.6s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(4) .element-repas:nth-child(2) {
  animation-delay: 0.8s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(4) .element-repas:nth-child(3) {
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(4) .element-repas:nth-child(4) {
  animation-delay: 1.2s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(4) .element-repas:nth-child(5) {
  animation-delay: 1.4s;
  animation-duration: 2s;
  animation-name: glissement_vertical;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* animation apparition des catégories */
@keyframes glissement_horizontal {
  from {
    opacity: 0;
    transform: translate(100%, 0);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
.categorie-repas:nth-child(1) .categorie-repas__title:nth-child(1) {
  animation-delay: 0.3s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(1) .categorie-repas__title:nth-child(2) {
  animation-delay: 0.5s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(1) .categorie-repas__title:nth-child(3) {
  animation-delay: 0.7s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(1) .categorie-repas__title:nth-child(4) {
  animation-delay: 0.9s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.categorie-repas:nth-child(2) .categorie-repas__title:nth-child(1) {
  animation-delay: 0.4s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(2) .categorie-repas__title:nth-child(2) {
  animation-delay: 0.6s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(2) .categorie-repas__title:nth-child(3) {
  animation-delay: 0.8s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(2) .categorie-repas__title:nth-child(4) {
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.categorie-repas:nth-child(3) .categorie-repas__title:nth-child(1) {
  animation-delay: 0.5s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(3) .categorie-repas__title:nth-child(2) {
  animation-delay: 0.7s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(3) .categorie-repas__title:nth-child(3) {
  animation-delay: 0.9s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(3) .categorie-repas__title:nth-child(4) {
  animation-delay: 1.1s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

.categorie-repas:nth-child(4) .categorie-repas__title:nth-child(1) {
  animation-delay: 0.6s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(4) .categorie-repas__title:nth-child(2) {
  animation-delay: 0.8s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(4) .categorie-repas__title:nth-child(3) {
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
.categorie-repas:nth-child(4) .categorie-repas__title:nth-child(4) {
  animation-delay: 1.2s;
  animation-duration: 1.2s;
  animation-name: glissement_horizontal;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}

/* animation bouton check */
.element-repas__contenair-animation {
  background-color: #99E2D0;
  height: 100%;
}
.element-repas__animation {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  transition: all 0.5s linear;
  width: 0px;
}
.element-repas:hover .element-repas__animation {
  width: 60px;
}
.element-repas:hover .fa-circle-check {
  transform: rotate(1turn);
}

.fa-heart {
  min-width: 22px;
}
.fa-heart:hover {
  color: #9356DC;
  cursor: pointer;
}
.fa-heart:hover::after {
  transform: translate(0%, 0%) scale(1.1);
  transition: all 0.3s linear;
  transform-origin: bottom;
}
.fa-heart::before {
  position: relative;
  top: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.fa-heart::after {
  height: 24px;
  color: transparent;
  content: "\f004";
  font-weight: 900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translate(0) scale(0);
  transition: all 0.3s linear;
}

/*# sourceMappingURL=styles.css.map */
